<!DOCTYPE HTML>
<html>
<head>
<#include "../include/common.html"/>
<script type="text/javascript" src="${image_path}js/hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="${image_path}js/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="${image_path}js/hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="${image_path}js/jquery.form.js"></script>
</head>
<body>
<article class="page-container">
eeeeeeeeeeeeeeeeee
</article>
</body>

</html>