<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<script type="text/javascript" src="${image_server}js/hui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="${image_server}js/hui/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="${image_server}js/hui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="${image_server}js/hui/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="${image_server}js/hui/lib/html5shiv.js"></script>
<script type="text/javascript" src="${image_server}js/hui/lib/respond.min.js"></script>
<![endif]-->
<link href="${image_server}js/hui/static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="${image_server}js/hui/static/h-ui.admin/css/H-ui.admin.css" rel="stylesheet" type="text/css"/>
<link href="${image_server}js/hui/static/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="${image_server}js/hui/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
<link href="${image_server}js/hui/static/h-ui.admin/skin/default/skin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${image_server}js/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<title>管理系统</title>
<meta name="keywords" content="HTML后台">
<meta name="description" content="HTML后台">